    .header {
        align-items: center;
        background-color: #111111;
        display: flex;
        justify-content: space-between;
        padding-left: 2%;
        padding-right: 2%;
        height: 80px;
    }
    
    .header nav {
        height: 2px;
        display: flex;
        justify-content: space-between;
        width: 40%;
    }
    
    .header a {
        color: #AAAAAA;
        text-decoration: none;
    }
    
    .header a:hover {
        color: #AAAAAA;
        text-decoration: none;
    }
    
    .header .Logo {
        width: 125px;
    }
    
    .topnav .logo img {
        width: 20%;
    }